DATABASE_URL="postgresql://dashjob:SENHA_DO_BANCO@postgres:5432/dashjob"

JWT_SECRET="gere_um_segredo_de_64_chars_aqui"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="gere_outro_segredo_de_64_chars_aqui"
JWT_REFRESH_EXPIRES_IN="7d"

PORT=3001
NODE_ENV=production

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu@email.com
SMTP_PASS=sua_senha_de_app
SMTP_FROM="Dash Job <noreply@dashjob.com>"

FRONTEND_URL=http://173.212.208.48:8080

STORAGE_TYPE=local
STORAGE_PATH=./uploads
